.carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
}

.container-carousel {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 3rem;
    scrollbar-width: none; 
}

.container-carousel::-webkit-scrollbar {
  display: none;
}

.card-carousel {
    height: 100%;
    min-width: 100%;
    border: 0.08rem solid var(--primary-color);
    border-radius: 1rem;
}

.card-description {
    padding: 1rem;
}

.card-image {
    height: 15rem;
    border-radius: .9rem .9rem 0 0;
}

.image {
    border-radius: .9rem .9rem 0 0;
}

.btn-carousel {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--text-gray);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 1rem;
    z-index: 10;
}

.btn-left-carousel {
    left: 0;
}

.btn-right-carousel {
    right: 0;
}

@media (min-width: 768px) {
    .carousel {}

    .container-carousel {
        width: 100%;
        height: 100%;
        max-width: 80rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    
    .card-carousel {
        min-width: 20rem;
        max-width: 20rem;
        width: 20rem;
        height: 32rem;
        display: flex;
        flex-flow: column;
    }

    .card-image {
        height: 45%;
    }

    .image {
        width: 100%;
        height: 100%;
    }
    
    .card-description {
        height: 55%;
    }
    
    .btn-left-carousel {
        left: 8rem;
    }

    .btn-right-carousel {
        right: 8rem;
    }
}