.footer {
  background-color: var(--primary-color);
}

.container-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 3rem 0;
}

.container-dev {
  margin: auto 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 5rem;
}

.link-dev {
  color: var(--secondary-color);
  font-weight: 500;
  text-transform: uppercase;
}