.language {
  outline: none;
  border: 0.08rem solid var(--primary-color);
}

@media (max-width: 400px) {
  .list-menu {
    transform: translateX(25rem);
    position: absolute;
    z-index: 10;
  }
  
  .list-menu-open {
    transform: translateX(0);
    position: absolute;
    z-index: 10;
    background-color: var(--header);
    color: var(--primary-color);
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}