@import "tailwindcss";

:root {
  --primary-color: #17634E;
  --secondary-color: #3D2316;

  --header: #cecece;
  --text-primary: #fff;
}

html, body {
  scroll-behavior: smooth;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.app-bg-primary {
  background-color: var(--primary-color);
}

.app-text-primary {
  color: var(--primary-color);
}

.app-text-secondary {
  color: var(--secondary-color);
}

.section {
  height: 100dvh;
  padding-top: 10rem;
  font-family: "Poppins", sans-serif;
  background-color: #cecece;
}

.input-global {
  border: 0.08rem solid var(--secondary-color);
  color: var(--secondary-color);
  padding: .3rem;
  border-radius: .5rem;
  outline: none;
}

.title-section-global {
  font-size: 2.5rem;
  font-weight: 700;
}

.text-area-global {
  resize: none;
  height: 7rem;
}